button {
  padding: 1rem 2rem;
  font-size: 20px;

  border: none;
  border-radius: 10px;
}


.light {
  background-color: aliceblue;
  color: black;
}

.dark {
  background-color: black;
  color: white;
}